@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-card: #121212;
  --color-primary: #3B82F6;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Esconder barra de rolagem mas permitir rolar (opcional, fica mais bonito) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-background);
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}